body {
	background-image: url('../images/background.jpg');
}

h1, .links, h3 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h2 {
	margin-top: 0;
	padding-bottom: 0.3em;
	text-align: center;
	font-size: 1.4em;
}

h3 {
	font-size: 1em;
	margin-top: 0;
	padding: 0;
}

.links {
	padding-left: 20px;
	padding-bottom: 20px;
}

.template {
	display: none;
}

.dataTables_wrapper {
	clear: none;
}

.dataTables_filter {
	float: left;
	text-align: left;
	width: 100%;
	vertical-align: middle;
}

.typelist button {
	width: 100%;
	padding: 0;
	margin: 0;
}

label {
	width: 100%;
	font-size: 1.3em;
	text-align: center;
}

input, .form-control {
	width: 50%;
}

.form-control {
	display: inline-block;
	margin-left: 20px;
}

.typelist button {
	display: block;
}
